*{
    margin: 0;
}
body{
    height: 300vh;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(236, 130, 0);
    border-radius: 20px;
}
.box5{
    top: 40px;
    left: 600px;
    position: sticky;
    background-color: aqua;
}

.box2{
    left: 300px;
    top: 200px;
    position: relative;
    background-color: antiquewhite;
}

.box3{
    position: absolute;
    left: 100px;
    right: 100px;
    background-color: green;
}

.box4{
    top: 75px;
    left: 400px;
    position: fixed;
    background-color: blueviolet;
}

.box1{
    position: relative;
    left: 800px;
    top: 200px;
}

.container{
    border: 20px black dotted;
    height: 500px;
    width: 500px;
    position: relative;
}