* {
    margin: 0;
}
#full{
    background-color: yellow;
    width: 100vw;
    height: 100vh;   
}
#top{
    background-color: pink;
    width: 100%;
    height:50%;
}
.h100{
    height: 100%
}

.w50{
    width: 50%;
}
#black{
    background-color:black;
}
#brown{
    background-color: brown;
}
#blue{
    background-color: blue;
}
