* {
    margin: 0;
}
#full{
    background-color: yellow;
    width: 100vw;
    height: 100vh;   
}
#teg{
    background-color: brown;
}
#neg{
    background-color:black;
}
#hoyor{
    background-color: blue;
}
#gurav{
    background-color:rgb(52, 202, 47);
}
#duruv{
    background-color:rgb(202, 47, 171);
}
#tav{
    background-color: blanchedalmond;
}
.h100{height: 100%;}
.h50{height: 50%;}
.w50{width: 50%;}
.w100{width: 100%;}
.w66{width: 66.66%;}