*{
    margin: 0;
    background-color: #d5c7a1;
}
#top-flexbox{
    height: 10vh;
    width: 100vw;
    background-color: #d5c7a1;
}
.background-images{
    height: 100vh;
    width: 100v;
}
.image img{
    width: 100%;
}
