* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #d5c7a1;
    font-family: Arial, sans-serif;
}

#top-flexbox {
    position: sticky;
    top: 0;
    z-index: 2;
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: #d5c7a1;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#logo {
    height: 100%;
    display: flex;
    align-items: center;
}

#logo img {
    height: 100%;
    max-height: 10vh;
}


.button {
    height: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #4b3418;
    background-color: #c0854e;
    color: #fff3e0;
    font-size: 1.2rem;
    font-weight: 900;
    /* margin: 0 5px; */
    cursor: pointer;
}

.background-images {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image {
    position: relative;
    width: 100%;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}
/* h1 */
h1{
    position: absolute;
    top: 60px;
    z-index: 1;
    font-size: 4rem;
    font-weight: bold;
    color: #4b3418;
    background-color: aqua;
}
/* left */
.left{
    left: 40px;
}
/* rigth */
.rigth{
    right: 40px;
}
p {
    position: absolute;
    z-index: 1;
    top: 200px;
    font-size: 2rem;
    color: #4b3418;
    background-color: red;
    padding: 5px 10px;
}

/* Contact Us Section */
#contact-us {
    padding: 20px;
    background-color:#fff3e0;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-us h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #4b3418;
}

#contact-us label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4b3418;
}

#contact-us input, #contact-us textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-us .button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
}