* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-weight: 700;
  font-family: Montserrat;
}
body {
  background-color: #f4f4f4;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  height: 80px;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
}
.topMain {
  margin: 120px;
  width: fit-content;
  max-width: 1500px;
  gap: 80px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.garchig {
  gap: 8px;
}
h1 {
  color: #303030;
}
h3 {
  color: #ababab;
}
.garchig h1 {
  font-size: 72px;
  line-height: 87.77px;
  text-align: center;
}
.garchig h3 {
  font-size: 24px;
  line-height: 29.26px;
  text-align: center;
  color: #ababab;
}

.image {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 284px;
  height: 400px;
  margin: 20px;
  border-radius: 12px;
}
.plane {
  display: flex;
  justify-content: space-between;
  margin: 120px;
  max-width: 1200px;
  width: fit-content;
}

.plane img {
  width: 692px;
  height: 845px;
  border-radius: 24px;
}

.bichver {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.garchig2 {
  text-align: left;
}
.garchig2 h3 {
  font-size: 24px;
  line-height: 29.26px;
}
.garchig2 h1 {
  font-size: 48px;
  line-height: 58.51px;
}
.days_dashed {
  display: flex;
  position: relative;
  gap: 16px;
}
.dashed {
  height: 491px;
  width: 1px;
  border: 1px;
  border-color: #121316;
  border-style: dashed;
  position: absolute;
  left: 43px;
  top: 20px;
}
.days {
  gap: 40px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.day {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #16a94a;
  background-color: #1d1f24;
  border-radius: 28px;
}
.day_spot {
  height: 56px;
}
.day_spot h2 {
  font-size: 16px;
  line-height: 19.5px;
  text-align: left;
}
.day_spot h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
  color: #777777;
}
.pricing_menu {
  display: flex;
  gap: 80px;
}
.options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  gap: 40px;
}
.price_hear {
  height: fit-content;
}
.price_hear h1 {
  font-size: 48px;
  line-height: 58.51px;
  text-align: center;
}
.price_hear h3 {
  font-size: 24px;
  line-height: 29.26px;
  text-align: center;
}
.price {
  width: 285px;
  height: 370px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 22px;
  opacity: 0px;
  background-color: #ffffff;
}
.pack_plan_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.cost {
  text-align: right;
}
.pack_name {
  font-size: 24px;
  line-height: 29.26px;
  text-align: center;
  color: #303030;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
li {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  color: #777777;
}
.border {
  border: 2px solid #18ba51;
}
.bold {
  font-weight: 700;
}
.ordernow {
  background: #171717;
  width: 100vw;
  height: 396px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ordernow div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ordernow h1 {
  color: #ffffff;
}
.ordernow button {
  background-color: #18ba51;
  color: #ffffff;
  width: 130px;
  height: 44px;
}
footer {
  height: 230px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div {
  height: 70%;
  min-width: 1200px;
  max-width: 600px;
  gap: 10px;
  display: flex;
  justify-content: right;
}
.last {
  height: 30%;
}
img {
  height: 100%;
}
