
h1 {
    color: #bd653c;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: rgb(103, 208, 214);
}
h1 span{
    color: red;
}

.title{
    font-size: 35px;
    font-weight: bold;
    background-color: blueviolet;
}
.name{
    font-size: 25px;
    font-weight: bold;
    background-color: blanchedalmond;
}
#members{
    background-color: #bd653c;
}
img{
    size: 33.33vw;
}